html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

.clearfix:before,
.clearfix:after {
content: "";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
font-size:0;
}
.clearfix{*zoom:1;}

.wrap{
width: 100%;
background-image: url('../../images/bj_03.jpg');
}
.top{
width: 100%;
background-color: #2b2e33;

}
.topon{
width: 1200px;
margin: 0 auto;
padding-top: 20px;
padding-bottom: 30px;

}
.logo {
display: block;
width: 96px;
float: left;
/*padding-top: 30px;*/
}
.logo2{
float: left;
margin-left: 324px;
/*margin-top: 14px;*/
}
.search{
float: left;
margin-left: 223px;
/*margin-top: 27px;*/
margin-right: 34px;
}
.deng{
float:right;
font-size: 18px;
color: #707479;
text-decoration: none;
/*line-height: 90px;*/
text-align: center;

}
.car {
  margin-top: 20px;
}
