.main1{

      width: 1200px;
      margin: 0 auto;
  }
  .main{
  width: 1100px;
  margin: 0 auto;
  background-color: #2b2e33;
  padding: 29px 50px 29px 50px;
  }
  .left{
  float: left;
  width: 630px;
  height: 256px;*/
  border-right: 2px solid #fff;
  }
  .left .end{
    font-size: 14px;
    color: #585b60;
    margin-top: 60px;
  }
  .left img{
  float: left;
  margin-right: 29px;
  }
  .left p{
  font-size: 36px;
  color: #fff;
  font-weight:550;
  line-height: 44px;
  }
  .right{
  float: left;
  padding-left: 48px;
  padding-bottom: 56px;
  }
  .right p{
  width: 65px;
  background-color: #fff;
  border-radius: 10px;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  float: left;
  margin-right: 29px;
  }
  .price p{
  margin-top: 10px;
  }
  .activeIndex1{
    background-color: yellow;
  }
  .price span{
  color: #fcd800;
  font-size: 24px;
  }
  .price span b{
  font-size: 36px;
  color: #fcd800;
  }
  .price span:nth-child(4){
  text-decoration: line-through;
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
  margin-left: 100px;

  }
  .style1 {
  margin-top: 30px;
  }
  .style1 p{

  }
  .style1 .box{
  display: block;
  width: 77px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  line-height: 26px;
  margin-left: 5px;
  float: left;
  text-align: center;
  }
  .style1 a:nth-child(1){
  margin-left: 90px;
  }
  .size{
  margin-top: 30px;
  width: 400px;
  }
  .size .box{
  display: block;
  width: 64px;
  border-radius: 10px;
  border: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  float: left;
  font-size: 14px;
  color: #fff;
  }
  .activeIndex{
    background-color: yellow;
  }
  .num{
  padding-top: 70px;
  }
  .num a{
  display: block;
  width: 70px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  float: left;
  }
  .num span{
  margin: 10px 80px;
  float: left;
  color: #fff;
  }
  .rush{
  width: 1099px;
  margin:0 auto;
  margin-top: 20px;
  /* border-top: 2px solid #4f4f4f;
  border-bottom: 2px solid #4f4f4f;*/

  }
  .rush a{
  display: block;
  width: 1099px;
  border: 3px solid #fcda00;
  border-radius: 5px;
  text-align: center;
  color: #fcda00;
  line-height: 90px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  }
.main1{
  background-image: url('../../images/bj_03.jpg');
}
