.shang{
  width: 100%;
  background-image: url('../../images/bj_03.jpg');
}
.join{
       width: 1200px;
       margin: 0 auto;
       background-color: #fff;

   }
   .shop9{
     width: 1200px;
     height: 130px;
     background-image: url("../../images/line3_03.jpg");
     padding-left: 30px;
     padding-top: 30px;
   }
   .shop9 p{
       font-size: 20px;
       border-left: 3px solid #000;
       padding-left: 10px;
   }
   .join>div:nth-child(3){
     width: 1100px;
     margin: 0 auto;
     margin-top: 20px;
     border-top: 2px solid #babec9;
     border-bottom: 2px solid #babec9;
     padding: 9px 11px 10px 10px;
   }
   .join .pic,.join .size{
     float: left;
   }
   .join .pic img{
     display: block;
     margin-right: 9px;
   }
   .join .pic>a{
   float: left;
   }
   .join .words{
     width: 238px;
   color:#2b3036;
   font-size: 18px;
   line-height: 22px;
   padding: 27px 20px 0 0;
   }
   .join .words:hover{
     color:#fdd900;
   }
   .join .size{
   margin: 10px 0;
   border-left: 2px solid #fdd900;
   padding: 3px 0 3px 21px;
   }
   .join .size>span{
     display: block;
   font-size: 14px;
   line-height: 24px;
   color:#b6b7b7;
   }
   .join .btn{
     float: right;
   }
   .join .btn>a{
     float: left;
     margin-top: 25px;
     line-height: 46px;
     font-size: 18px;
     text-align: center;
   }
   .join .btn>a:nth-child(1){
     width: 132px;
     color:#fff;
     background-color: #2b2e33;
     margin-right: 10px;
   }
   .join .btn>a:nth-child(1):hover{
     color:#fdd900;
   }
   .join .btn>a:nth-child(2){
     width: 210px;
     color:#000;
     background-color: #fdd900;
   }
   .join .btn>a:nth-child(2):hover{
     color:#fff;
   }
   .down1{
     width: 1200px;
     margin: 0 auto;
       background-color: #fff;
   }
   .down{
   	width: 1100px;
   	margin: 0 auto;

   }
   .down img{
     width: 194px;
   }
   .down h4{

   	margin-top: 49px;
   	line-height: 76px;
   	margin-right: 9px;
   	font-size: 18px;
   	color: #2d2d35;
   }
   .other-need{
     display: flex;
     /*justify-content: center;*/
     /*flex-wrap:nowrap;*/
   }
   .down  .line-yellow{

   	display: block;
   	width: 978px;
   	height: 2px;
    border: 1px solid yellow;
    background-color: yellow;
   	/*background-image: url("../../images/arrcar-line_11.jpg");*/
   	background-repeat: repeat-x;
   	margin-top: 86px;
   }
   /*商品完*/

   /*down 开始*/
   .other{
   	/*display: block;*/

   }
   .addbag{
       text-align: center;
   }
   .other li{
   	width: 195px;
   	border:1px solid #d1d7e3;
   	list-style: none;
   	float: left;
   	margin-left: 30px;
   	box-sizing: border-box;
   	margin-bottom: 122px;
   }
   .other li:first-child{
   	margin-left: 0px;
   }
   .other .othimg{
   	display: block;
   	margin-bottom: 7px;
   }
   .other .title2{
   	display: block;
   	line-height: 18px;
   	margin-left: 11px;
   	width: 137px;
   	text-decoration: none;
   	font-size: 14px;
   	color: #272727;

   }
   .other .title2:hover{
   	text-decoration: underline;
   	color: hotpink;
   }
   .other .price{
   	display: block;
   	float: left;
   	padding-left: 11px;
   	color: red;
   	font-size: 19px;
   	width: 77px;
   	margin-top: 44px;
   }
   .other .addbag{
   	float: right;
   	margin-top: 44px;
   	margin-right: 10px;
   	display: block;
   	width: 66px;
   	line-height: 25px;
   	/*padding:2px 24px;*/
   	border: 2px solid #ffd801;
   	margin-bottom: 10px;
   }
   .other .addbag img{
   	margin-top: 2px;
   	margin-left: 24px;
   }
