body{
  margin: 0;
}
.joinup{
       width: 1200px;
       margin: 0 auto;

   }
.shop9{
    width: 1200px;
     height: 130px;
     background-image: url("../../images/line3_03.jpg");
     padding-left: 30px;
     padding-top: 30px;
   }
   .shop9 p{

       font-size: 20px;
       border-left: 3px solid #000;
       padding-left: 10px;
  }
  form{
    width: 1200px;
    margin: 0 auto;
  }
.title{
        padding-bottom: 12px;
        border-bottom: 2px solid #2b2e33;
      }
.title label,form .title span{
          font-size: 14px;
          color:#424649;
      }
 .title span:nth-child(3){
          margin-left: 50px;
          margin-right: 488px;
      }
      form .title span:nth-child(4){
          margin-left: 90px;
          margin-right: 100px;
      }
      form .title span:nth-child(5){
          margin-left: 90px;
          margin-right: 100px;
      }
      form .title span:nth-child(6){
          margin-right: 60px;
      }
    form   .goods{
          padding: 20px 25px 20px 20px;
          border-bottom: 1px solid #d1d7e3;
          position:relative;
      }
      .goods>input,.goods>a, .goods>p{
          float: left;
      }
      .goods>input{
          margin: 35px 48px 0 0;
      }
      .goods img{
          display: block;
          margin-right: 10px;
      }
      form .long a:hover{
        color: yellow;
      }
      .goods>p>a{
          width: 240px;
          color:#474a4f;
          font-size:14px;
          margin-bottom: 18px;
      }
      .goods>p>a:hover{
          color:#fdd900;
      }
      .goods>p>span{
          display: block;
          font-size: 14px;
          color:#b6b7b7;
      }
      .goods .money{
          float: right;
          margin-top: 28px;
      }
      .goods .money a,.goods .money>span,.goods .money p{
          float: left;
          line-height: 36px;
          color: #000;
      }
      a{
        text-decoration: none;
      }
      .goods .money>span,.goods .money p{
          font-size: 14px;
      }
      .goods .money .add,.goods .money .red{
          width: 36px;
          font-size: 18px;
          color:#000;
          text-align: center;
          border:1px solid #2d2e32;

      }
      .goods .money .add{
          margin-left: 65px;
          margin-right: 48px;
      }
      .goods .money .red{
          margin-left: 48px;
          margin-right: 70px;
      }
      .goods .money>p:nth-child(5){
          width: 30px;
          margin-right: 72px;
          color:#f20201;
      }
      .goods .money .qty{
          width: 10px;
      }

      .word{
       float: right;
       margin-right: 30px;

   }
    .word>span{
       font-size:18px;
       color:#2c2d32;
       line-height: 36px;
       border-bottom: 2px solid #000;
       margin-left: 20px;
   }
    .word>span:first-child{
       border-bottom: 5px solid #000;
   }
